<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/inicio"><img src="assets/logo.svg" /></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/inicio">
            <i class="fa-solid fa-house">inicio</i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/demos">
            <i class="fa-solid fa-house">demos</i>
          </a>
        </li>
          <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/chisme/de/hacer/numeros">
            <i class="fa-solid fa-house">chisme</i>
          </a>
        </li>
          <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/contactos">
            <i class="fa-solid fa-house">contactos</i>
          </a>
        </li>
          <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/alisha/passion">
            <i class="fa-solid fa-house">A.passion</i>
          </a>
        </li>
          <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/config">
            <i class="fa-solid fa-house">config</i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
